<ion-navbar>
  <ion-title>Carreras Demandadas</ion-title>
</ion-navbar>

<ion-content text-center>
  <ion-toolbar transparent>
    <ion-title color="primary">Estado</ion-title>
    <div offset-sm-4 col-sm-4>
      <ion-list text-wrap>
        <ion-item style="background-color: transparent">
          <span item-start class="dot"></span>
          <ion-label>Disponible </ion-label>
          <ion-toggle [(ngModel)]="disponible" (ionChange)="disponibleM()" color="secondary"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div offset-sm-2 col-sm-8>
      <ion-list>
        <ion-list-header no-lines text-center>
          Carrera Demandadas
        </ion-list-header>
        <ion-item *ngFor="let race of races" text-wrap>
          <ion-row>
            <ion-col col-6>
              <h2>
                <b>Origen: </b> {{race.from}}
              </h2>
            </ion-col>
            <ion-col col-6>
              <h2>
                <b>Destino: </b>{{race.to}}
              </h2>
            </ion-col>
            <ion-col col-6>
              <h2>
                <b>Distancia: </b> {{race.distance}}
              </h2>
              <h3>
                Precio Estimado: {{race.price}} usd
              </h3>
            </ion-col>
          </ion-row>
          <div float-end>
            <button ion-button clear (click)="goToRaceDetail(race)">Ver Detalles</button>
            <button ion-button clear (click)="assignRace(race.id)">Asigname</button>
          </div>
        </ion-item>
        <ion-item *ngIf="races.length == 0" text-wrap text-center>
          No existen carreras demandadas en este momento.
        </ion-item>
      </ion-list>
    </div>
  </ion-toolbar>
</ion-content>
