<ion-header>
  <ion-navbar color="inis-oscuro">
    <ion-title text-center>Carreras Demandadas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-list>
    <ion-item text-center>
      <ion-label>Disponible </ion-label>
      <ion-toggle [(ngModel)]="disponible" (ionChange)="disponibleM()" color="secondary"></ion-toggle>
    </ion-item>
    <ion-list-header>
      Carrera Demandadas
      <button float-end ion-button color="inis-claro" small (click)="findLiveRace()">Buscar</button>
    </ion-list-header>
    <ion-item *ngFor="let race of races" text-wrap>
      <ion-row>
        <ion-col col-6>
          <h2>
            <b>Origen: </b> {{race.from}}
          </h2>
        </ion-col>
        <ion-col col-6>
          <h2>
            <b>Destino: </b>{{race.to}}
          </h2>
        </ion-col>
        <ion-col>
          <h2>
            <b>Distancia Aproximada: </b> {{race.distant}} Km
          </h2>
          <h3>
            Precio Estimado: {{race.price}} usd
          </h3>
        </ion-col>
      </ion-row>
      <div float-end>
        <button ion-button clear color="inis-claro" (click)="goToRaceDetail(race)">Ver Detalles</button>
        <button ion-button clear color="inis-claro" (click)="assignRace(race.id)">Asigname</button>
      </div>
    </ion-item>
     <ion-item *ngIf="!races" text-wrap text-center>
          No existen carreras demandadas en este momento.
        </ion-item>
  </ion-list>
</ion-content>
