page-live-race-request {
  $toggle-ios-background-color-off: #f53d3d;
  $toggle-ios-handle-background-color: red;
  $toggle-md-handle-background-color-off: red;
  $toggle-md-track-background-color-off: #f53d3d;
}
