<ion-menu side="right" [content]="content">
  <ion-header style="background-color:#8B193D">
    <ion-toolbar>
      <ion-title text-center>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <br>
    <div text-center *ngIf="user; else notLogin">
      <ion-list>
        <!-- <ion-avatar class="profilepicsize">
          <img style="border-radius: 50%;" [src]="picture">
        </ion-avatar> -->
        <button ion-button clear menuClose full>
          <!-- <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon> -->
          {{user.name}}
        </button>
        <button title="Salir" clear full ion-button icon-right menuClose (click)="signOut()">
          Cerrar Sesión
          <ion-icon name="log-out"></ion-icon>
        </button>
        <br>
        <ion-list *ngIf="user.roll == 'cliente'">
          <button ion-item menuClose *ngFor="let p of clientPages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
            {{ p.title }}
          </button>
        </ion-list>
        <ion-list *ngIf="user.roll == 'chofer'">
          <button ion-item menuClose *ngFor="let p of driverPages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
            {{ p.title }}
          </button>
        </ion-list>
      </ion-list>
    </div>
    <ng-template #notLogin>
      <ion-list>
        <button clear ion-item menuClose (click)="openPage({ title: 'Login', pageName: 'LoginPage', icon: 'user', fav: false })">
          <ion-icon item-start name="person"></ion-icon>
          Iniciar Sesión
        </button>
      </ion-list>
    </ng-template>
    <br>
  </ion-content>
</ion-menu>
<ion-fab right top>
  <button mini ion-fab style="background-color: #C63D6B" menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-fab>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
