<ion-header>
  <ion-navbar color="inis-oscuro">
    <ion-title text-center>Carreras Realizadas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <ion-item text-color="inis-opaco" *ngIf="user" text-center>
        {{user.name}}
      </ion-item>
      <ion-item *ngFor="let race of races" text-wrap>
        <ion-row>
          <ion-col col-6>
            <h2>
              <b>Origen: </b> {{race.from}}
            </h2>
          </ion-col>
          <ion-col col-6>
            <h2>
              <b>Destino: </b>{{race.to}}
            </h2>
          </ion-col>
          <ion-col>
            <h2>
              <b>Fecha: </b> {{race.date}}
            </h2>
            <h3>
              Precio Estimado: {{race.price}} usd
            </h3>
            <h3>
              Estado:
              <span class="{{colorClass(race.status)}}"> {{getRaceStatus(race.status)}}</span>
            </h3>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="race.rating > 0">
          <ion-col>
            <a text-center *ngFor="let star of rateCalculate(race.rating); let i = index">
              <ion-icon [name]="star"></ion-icon>
            </a>
          </ion-col>
        </ion-row>
        <div float-end>
          <button ion-button small color="inis-claro" (click)="raceDetail(race)">Detalles</button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
